body,
html {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  background-image: url("./assets//images/forestbackdrop.jpg");
  /* height: 100%;
  width: 100%;   */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.navlinks {
  color: "black";
  
}

a {
  color: whitesmoke;
  text-decoration: none;  
}

a:hover {
  font-weight: bolder;
}